@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100;1,300&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;

}
body{

   font-family: 'Roboto','Open sans', sans-serif;
   
}
.container{
  max-width:80vw;
  margin:auto;

}
.wrapper{
  max-width: 100%;
  
  display:flex;
}
.filter{
  width:250px;
  border:1px solid rgba(0,0,0,0.1);
}

.nav{
  width: 100%;
  height: 70px;
  box-shadow: 0 5px 20px 2px rgba(0,0,0,0.1);
  position:fixed;
  top:0;
  background:#fff;
}

.nav ul li{
  list-style: none;
  padding:0 12px;
}
.nav_container{

  width:100%;
  display:flex;
  align-items:center;
  height:70px;
  justify-content: space-between;
}
.nav_left{
  display: flex;
  align-items: center;
}

.flex{
  display:flex;
}
.nav_left img{
  width:53px;
  height:36px;
  margin-right:50px;

}
.nav_link{
 
  text-align:center;
  text-decoration:none;
  color:#282c3f;
  font-size:14px;
  border-bottom:none;
  font-weight:500;
  

}

.top_header{
   width:100%;
  display:flex;
  align-items:center;
  margin-top:100px;
  width:100%;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  justify-content: space-between;

}
.left-filter{
  /* background-color: antiquewhite; */
  width:250px;
  height:30px;
  align-items: center;
  display:flex;
  justify-content: space-between;
  margin-bottom:0;
  padding-left:20px;
  padding-bottom:0;
}

.left-filter button{
  outline:none;
  margin:none;
  color:#ff3f6c;
  border:none;
  background:none;
  font-weight:550;
  text-transform: uppercase;
  font-size: 14px;
  font-family:' roboto' ,sans-serif;


}
.left-filter button:hover{
  
  cursor: pointer;
}


a{
  text-decoration:none;
}

Link{
  text-decoration: none;
}

.bag{
  text-align: center;
  position:relative;

}

.bag span{

  display: flex;
  align-items:center;
  justify-content: center;
  position:absolute;
  right: -8px;
  top:-8px;
  width:17px;
  height:18px;
  background:#ff3f6c;
  border-radius:50%;
  color:#fff;
  font-size: 12px;;
}

.bag-icon{

  text-decoration: none;
  color:#282c3f;

}

.row{
  display:flex;
  width:100%;
  flex-wrap:wrap;
 
}
.col-3{
  width:18%;
  margin:10px;
 
}

.col-6{

  display: flex;
  
  
}
.col-2{
  
  width:16.5%;
  /* background-color: antiquewhite; */
  
  padding:5px;

}
.col-9{
  
  width:75%;
  display:flex;

  /* background-color: aqua; */
}
.product{
 
   width:100%;
   overflow: hidden;

   

}
.product:hover{

box-shadow: 0 5px 20px 2px rgba(0,0,0,0.1);

}

.product .p_info2{

  opacity: 0;
  

}
.product:hover .p_info2{
  opacity:1;
  transform: translateY(-30px);
 
}
.product:hover .p_info1{

 opacity:0;
 visibility: hidden;

}

.product_img{
  width: 100%;
  height:280px;
  overflow: hidden;
  
  
}

.product_img img{
  width:100%;
  height:100%;
 

}




.product_brand{

 font-size:16px;
 font-weight:500;
 line-height: 1;
 color:#282c3f;
 margin-bottom:6px;
 overflow:hidden;
 text-overflow: ellipsis;
 white-space: nowrap;

}
.product_price{
  
  font-size:15px;
  font-weight: bold;
  margin:10px 0 6px;
  display:flex;
}
.product_name{

color:#535766;
 font-size:14px;
 line-height: 1;
 margin-bottom: 0;
 margin-top: 0;
 overflow: hidden;
 text-overflow: ellipsis;
 font-weight: 400;
 white-space:nowrap;
 display: block;

}
.product_discount{

  font-size: 14px;
  margin:0 10px;
  color: #282c3f;
  font-weight: 500;
  text-decoration: line-through;
}
.discount_percent{
  
  color:#ff905a;
  font-weight: 400;
  font-size:12px;
  margin-left:5px;
}
.product_details{
  padding:10px;
  /* background-color: antiquewhite; */
}
.product:hover .product_details{
   transform: translateY(-20px);
   background-color: #fcfcfc;
}

.product:hover .widhlist_div{

 
  bottom:240px;
  text-align: center;
  
 

} 


.search_bar{

  width:57vh;
  display:flex;
  margin:0;
  margin-right: 20px;
  height:40px;
  color:#696e79;
  padding:8px 10px 10px;
  border-radius: 5x;
  background-color: #f5f5f6;
  outline:0;
  border:1px solid #f5f5f6;
  font-weight: lighter; 
  text-align: center;
  
}

.search{

  width:100%;
  color:#696e79;
  border-radius: 5px;
  background-color: #f5f5f6;
  margin:0;
  margin-left:20px;
  outline:0;
  border:1px solid #f5f5f6;
  font-weight: lighter; 

}

.profile{

  text-align: center;
  color:#282c3f;
}

.wishlist{
  text-align: center;
  color:#282c3f;
}


.cart{
  background-color: antiquewhite;

}




.p_cart{
  margin-top:100px;
  
 

}
.p_cart h3{
 font-weight: 400;
}
.cart_heading{
  width:100%;
  background-color: #f4f6f6;
  padding:10px;
  border:1px solid rgba(0,0,0,0.1);
}
.summary_heading{
  background-color: #f4f6f6;
  padding:10px;
  border:1px solid rgba(0,0,0,0.1);
}
.summary_details{
  border:1px solid rgba(0,0,0,0.1);
  padding:10px;
}
.cart_pimg{
  /* background-color: #ff905a; */
}
.cart_pimg img{
   width:100px;
   height:100px;
   object-fit: contain;
}
.p_cart{
  width:100%;
}
.summary{

  width:100%;

}
.checkout button{
  background-color: #ff3f6c;
  color:#fff;
  margin:none;
  outline:none;
  border:none;
  padding:10px;
  text-transform: uppercase;
  width:100%;
  flex-wrap: wrap;
}
.wishlist-btn{
  height:100%;
  width:100%;
  border:none;
  background-color: #fff;
  color:#535766;
  outline:none;
  font-size:15px;
  text-transform:uppercase;
  font-weight: 400;
  align-items: center;
  border:1px solid #696e79;
  padding:5px;
  justify-content: center;
}
.wishlist-btn:focus{

    background-color: #535766;
    color:#fff;
    border:1px solid;
} 
.similar_btn{
  
  
  background-color: #fcfcfc;
  border:none;
  opacity: 0;
  width:1rem;
  border:0;
  margin:0;
  outline: 0;
  color:#ff3f6c;
  font-size: 15px;
  font-weight: bold;


}
.similar_div{

  background-color: #fcfcfc;
  position:absolute;
  border-radius:30px;
  padding:.5rem;
  transform:translateY(-4rem) translateX(11rem);
  
}
.product:hover .similar_div{
  
  transform: translateX(8rem) translateY(-4rem);
   transition: all 0s;
}
.product:hover .similar_div .similar_btn{
  opacity: 1;
  width:4rem;
}

.product:hover .similar_div .similar_s{
  opacity: 0;
}

.similar_s{
  color:#ff3f6c;
  position: relative;
  font-weight: bold;
  font-size: 15px;
  left:-.5rem;
}



.Men_filter {
  width:100%;
  font-weight:600;
  font-size:14px;
  border:1px solid rgba(0,0,0,0.1);
  padding:20px;
  
}

.Men_filter input{
  cursor:pointer;
  margin:5px;
  border:1px solid rgba(0,0,0,0.0 01);

}

.Brand_filter{
  padding:20px;
  border:1px solid rgba(0,0,0,0.1);
 
}
.Brant_title{
  font-weight:600;
  text-transform: uppercase;
}
.Brant_content{
 padding-top:10px;
}
.Brand_filter input{
      margin-top:8px;
} 

.Price_filter{

  padding:20px;
}

.Price_filter input{

  margin-top:10px;
}


.priceTitle{

  font-weight: 600;
  text-transform: uppercase;

}

.Price_filter_content{
  margin-top:10px;
}
.filt{
   text-transform: uppercase;
   font-weight:600;
}





@media(max-width:768px){
  .container{
    width:100%;
    
  
  }
  .col-3{
    width:45%;
  }
  .col-6{
    width:100%;
  }
  .details-col{
  width:100%;
  }
  .details_image{
    width:100%;
    padding-left:5px;
  } 

  .details_image img{
    width:48%;
    
   height:400px;

}
.pd{
  padding:0;
}
.summary{
  width:50%;
}
}




@media(max-width:480px){

  .row{
    width:100%;
    display: flex;
  }
  .col-3{

    width:100%;
  }
  .col-2{
    width:100%;
    font-size:15px;
  }
  .col-6{
    width:100%;
  }
  .col-9{
    width:100%;
  }
  .cart_heading{
    
    font-size: 15px;
  }
  .cart_pimg img{
    width:60px;
  }
  
   .details-col{
  width:100%;
  }
  .details_image img{
   width:100%; 
   margin:0;
   margin-top:5px;
   /* height:200px; */

}
.pd{
  padding:2px;
}

.summary{
  width:100%;
}

}

/* utiliti css */

.uppercase{

  text-transform: uppercase;
}

.semibold{
  font-weight:bold;
}

.mx-2{
  margin-left:12px;
  margin-right:12px;
}

.item-center{
  align-items: center;
}

.fs-12{
  font-size:12px;
}

.bd{
  border:1px solid rgba(0,0,0,0.1);
}
.px{
  margin-left:10px;
}
.pd{
  padding:10px;
}

.cur{
  cursor: pointer;
}